
@{
    ViewBag.Title = "Perdone las molestias";
}

    <style type="text/css">
        body {
            background-color: yellowgreen;
            font-family: 'Comic Sans MS';
            color: blue;
            margin: 50px;
        }
    </style>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Pagina temporalmente en mantenimiento.</p>

