@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<direccion>
    Gijón<br />
    Asturias, 33212<br />
    <abbr title="TLF">P:</abbr>
    999888777
</direccion>

<direccion>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</direccion>